#first {
  color: rgb(255, 0, 0);
  background-color: antiquewhite;
}
#second {
  color: aquamarine;
  background: lightgreen;
}
#three {
  color: rgb(0, 0, 255);
  background: rgb(100, 100, 100);
}
body {
  background: rgb(120, 20, 50);
}
