div {
  height: 400px;
  color: red;
}
.big-img {
  background: url(../images/big.jpg);
  background-size: cover;
  background-position: center;
}
.small-img {
  border: 2px solid red;
  background: url(../images/small.jpg);
  background-repeat: no-repeat;
  background-position: 100% 20%;
}
.folder-img {
  background: url(../images/photo.jpg);
  background-size: contain;
}
